<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/beans/spring-context.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/beans/spring-context.xsd">

    <!-- 开启包的扫描 -->
    <context:component-scan base-package="com.zzt"/>
    <!-- 开启 AOP 的注解功能  -->
    <aop:aspectj-autoproxy/>

    <bean id="b" class="com.zzt.bean.B">
        <property name="name" value="李四"/>
    </bean>
    <bean id="a" class="com.zzt.bean.A">
        <property name="name" value="张三"/>
        <property name="age" value="12"/>
        <property name="b" ref="b"/>
    </bean>
    <!--<bean id="aFactoryBean" class="com.zzt.bean_factory.AFactoryBean">
        <constructor-arg name="name" value="张三"/>
        <constructor-arg name="age" value="123"/>
        <constructor-arg name="b" ref="b"/>
    </bean>-->

</beans>